@using SellingMovieTickets.Models.Entities
@model AppUserModel
@{
    ViewData["Title"] = "Quên mật khẩu";
}

<section style="margin-top: 100px">
    <div class="container">
        <div class="row" style="justify-content: center">
            <div class="col-sm-8 col-sm-offset-1">
                <div class="login-form">
                    <h2>Vui lòng nhập email để tìm tài khoản của bạn.</h2>
                    <form asp-action="SendEmailForgotPass" asp-controller="Account">
                        <div class="form-group">
                            <label>Email</label>
                            <input asp-for="Email" class="form-control" placeholder="Email" />
                            <span asp-validation-for="Email" class="text-danger" />
                        </div>
                        <button class="btn btn-default"> Gửi</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

