@using SellingMovieTickets.Models.ViewModels.Accounts
@model ResetPassword
@{
    ViewData["Title"] = "Đổi mật khẩu";
}

<section style="margin-top: 180px">
    <div class="container">
        <div class="row" style="justify-content: center">
            <div class="col-sm-8 col-sm-offset-1">
                <div class="login-form">
                    <h2>Đổi mật khẩu</h2>
                    <form asp-action="UpdateResetPassword" asp-controller="Account">
                        <input hidden value="@ViewBag.Token" name="token" />
                        <div class="form-group">
                            <label>Email</label>
                            <input asp-for="Email" value="@ViewBag.Email" readonly class="form-control" />
                            <span asp-validation-for="Email" class="text-danger" />
                        </div>
                        <div class="form-group">
                            <label>Mật khẩu</label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger" />
                        </div>
                        <button class="btn btn-default">Gửi</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

