.productImageIndex {
    width: 100px;
    height: 85px;
    object-fit: cover;
    border-radius: 5px;
}


/* image Product Trang sản phẩm*/
.product-item {
    margin-top: 20px; 
    margin-bottom: 20px; 
}

.product_image img {
    width: 100%;
    object-fit: cover;
}

.product_image img {
    height: 260px;
}

.product_info {
    display: flex;
    flex-direction: column;
    align-items: center;  
    text-align: center;  
}

.product_price {
    font-size: 16px;
    font-weight: bold;
    color: #ff5722;  
    display: flex;
    justify-content: center;  
    align-items: center;
    margin-top: 10px;  
}

    .product_price span {
        font-size: 14px;
        color: #888888;  
        text-decoration: line-through;
        margin-left: 10px;
    }

@media (max-width: 1200px) {
    .product_image img {
        height: 250px;
    }
}

@media (max-width: 768px) {
    .product_image img {
        height: 200px;
    }
}

@media (max-width: 576px) {
    .product_image img {
        height: 150px;
    }
}
